* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Oswald";
  src: url(font/Oswald-Light.ttf);
}
@font-face {
  font-family: "Raghita";
  src: url(font/Ragitha-nAxr1.otf);
}

:root {
  --primary-color: #83649d;
  --secondary-color: #aa9ded;
  --body-bg-dark: #000000;
  --body-bg-light: #e6d9f3;
  --body-text-dark: #000000;
  --body-text-light: #e6d9f3;
  --accent-color: #512874;
  --margin: 10px;
  --padding: 10px;
  --border-radius: 15px;
  --transition: all 0.3s ease-in-out;
}
body.dark {
  background: var(--body-bg-dark);
  color: var(--body-text-dark);
}
body.light {
  background: var(--body-bg-light);
  color: var(--body-text-light);
}

.header {
  min-height: 10vh;
  background-color: var(--primary-color);
  display: flex;
  padding: 0px var(--padding);
  justify-content: space-between;
}
.header img {
  height: 80px;
  object-fit: cover;
  margin: var(--margin);
}
.header h1 {
  font-family: Raghita;
  color: var(--body-text-light);
  font-size: clamp(2em, 3vw, 5em);
}
.header h2 {
  text-align: center;
  font-family: Raghita;
  color: var(--accent-color);
  font-size: clamp(1em, 3vw, 3em);
}
.header i {
  margin-top: 20px;
  color: var(--body-text-light);
  font-size: clamp(4em, 3vw, 7em);
  cursor: pointer;
  transition: var(--transition);
}
.header i:hover {
  color: var(--accent-color);
}
