      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }

      body {
        background: #0f0f0f;
        color: #fff;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        font-family: poppins;

      }


      /* Form Card */
      .form {
        height: 80vh;
        background: #1c1c1c;
        width: 400px;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        margin-bottom: 50px;
      }

      .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
        font-weight: 600;
      }

      .form-group {
        margin-bottom: 10px;
      }

      .form-group label {
        display: block;
        margin-bottom: 6px;
        font-size: 14px;
        color: #ccc;
      }

      .form-group input,
      .form-group textarea {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 6px;
        background: #2a2a2a;
        color: #fff;
        outline: none;
      }

      .form-group textarea {
        resize: none;
        height: 80px;
      }

      button {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 6px;
        background: #333;
        color: #fff;
        cursor: pointer;
        transition: 0.3s;
      }

      button:hover {
        background: #444;
      }

      /* User Cards */
      .cards-container {
        width: 100%;
        max-width: 1100px;
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
      }

      .card {
        position: relative;
        background: #1c1c1c;
        width: 300px;
        padding: 25px;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        transition: 0.3s;
      }

      .card:hover {
        transform: translateY(-5px);
      }

      .card img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 15px;
        border: 3px solid #333;
      }

      .card h3 {
        font-size:22px;
        margin-bottom: 5px;
        color: rgb(222, 200, 243);
      }

      .role {
        color: #aaa;
        font-size: 14px;
        margin-bottom: 10px;
      }

      .bio {
        font-size: 14px;
        color: #ccc;
      }

.card .cross {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
}
.card .update {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 50px;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;}
